* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(82, 3, 82);
    --secondary-color: rgb(194, 214, 247);
    --tertiary-color: rgb(51, 50, 50);
    --border-color: rgb(181, 191, 245);
}

/*body*/
body {
    color: var(--main-color);
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
}

header h1 {
    font-weight: bolder;
    font-size: 32px;
    color: var(--main-color);
    text-shadow: 0 0 5px rgb(32, 30, 30, 0.5);
}

header a {
    text-decoration: none;
    color: var(--main-color);
    background: var(--secondary-color);
    padding: 5px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 5px;
    font-size: 2vw;
    margin: 5px;
}

header nav ul li a {
    font-weight: lighter;
    text-shadow: 0 0 5px rgb(32, 30, 30, 0.5);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    background: none;
}

/*hero*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
    padding: 3vw 12vw;
    position: relative;
}

.portfolio-image {
    justify-content: flex-start;
    flex: 1 20%;
}

.portfolio-image img {
    max-width: 30%;
}

.welcome {
    position: absolute;
    bottom: 0;
    right: 0;    
    background: var(--secondary-color);
    color: var(--main-color);
    font-size: 28px;
    flex: 2 20%;
    padding: 10px;
    margin: 20px 80px;
}

.section {
    margin: 20px 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
}

.section h2 {
    flex: 1 20%;
    font-size: 36px;
    padding-right: 20px;
    text-align: right;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    flex: 2 80%;
    align-items: center;
    border-left: 3px solid var(--main-color);
    padding: 0 20px;
    line-height: 1.5;
    justify-content: space-around;
    font-size: 18px;
}

/*work grid*/
.work-grid-wrapper {
    display: flex;
    width: 100%;
}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 12vw);
    grid-auto-flow: dense;
    width: 100%;
    gap: 7px;
    padding: 10px;
}

.grid-item {
    border: solid 3px var(--border-color);
    position: relative;
}

.item-1 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background-image: url("../images/surf-report.jpg");
    background-size: cover;
}

.item-2 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    background-image: url("../images/run-buddy-img.png");
    background-size: cover;
}

.item-3 {
    background-image: url("../images/LED-wall.jpg");
    background-size: cover;
}

.item-4 {
    background-image: url("../images/calculator.jpg");
    background-size: cover;
}

.item-5 {
    background-image: url("../images/pastel-puzzle.jpg");
    background-size: cover;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item .grid-text {
    background: var(--border-color);
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 5px;
}

.grid-item a {
    text-decoration: none;
}

.grid-item h3 {
    font-size: 18px;
}

.grid-item p {
    font-size: 14px;
}

/*contact*/

.contact-info {
    margin: 7px auto;
    color: var(--main-color);
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: 5em;
}

.contact-info ul li a {
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 3px solid var(--main-color);
    font-size: 1.55vw;
    padding: 5px;
    margin: 0 20px;
}

.flew-row {
    display: flex;
}

/*Media Query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
    
    .section h2 {
        flex: 1 100%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 3px solid var(--main-color);
    }
    
    .section-content {
        flex: 2 100%;
        align-items: center;
        border-left: none;
        padding-left: none;
        padding-top: 20px;
        line-height: 1.5;
    }
}