* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(82, 3, 82);
    --secondary-color: rgb(173, 195, 230);
    --tertiary-color: rgb(51, 50, 50);
}

/*body*/
body {
    color: var(--main-color);
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
}

header h1 {
    font-weight: bolder;
    font-size: 32px;
    color: var(--main-color);
    text-shadow: 0 0 5px rgb(32, 30, 30, 0.5);
}

header a {
    text-decoration: none;
    color: var(--main-color);
    background: var(--secondary-color);
    padding: 5px;
}

header nav {
    margin: 7px 0;
}

header nav ul, .contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, .contact-info ul li a {
    padding: 5px 5px;
    font-size: 2vw;
    margin: 5px;
}

header nav ul li a {
    font-weight: lighter;
    text-shadow: 0 0 5px rgb(32, 30, 30, 0.5);
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    background: none;
}

/*hero*/
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
    padding: 10px 20px;
    opacity: 0.5;
}

.portfolio-image {
    justify-content: flex-start;
    flex: 1 30%;
    margin: 40px 40px;
    position: relative;
}

.portfolio-image img {
    max-width: 30%;
}

.welcome {
    text-align: right;
    line-height: 2;
    color: var(--tertiary-color);
    opacity: 1;
    font-size: 36px;
    flex: 2 70%;
}

.section {
    margin: 20px 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section h2 {
    flex: 1 20%;
    font-size: 36px;
    text-align: right;
    padding-right: 20px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    flex: 2 80%;
    align-items: center;
    border-left: 3px solid var(--main-color);
    padding-left: 20px;
    line-height: 1.5;
}

/*work grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    width: 100%;
    grid-gap: 30px;
  }

/*contact*/
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-info {
    margin: 7px 0px;
    color: var(--main-color);
}

.contact-info ul li a {
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 3px solid var(--main-color);
    position: relative;
}


.flew-row {
    display: flex;
}

/*Media Query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
    
    .section h2 {
        flex: 1 100%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 3px solid var(--main-color);
    }
    
    .section-content {
        flex: 2 100%;
        align-items: center;
        border-left: none;
        padding-left: none;
        padding-top: 20px;
        line-height: 1.5;
    }
}